@import "variables.scss";

@mixin navItem() {
  .navItem {
    display: flex;
    margin-bottom: 12px;

    .navIcon {
      width: $homeInformationNavItemHeight;
      height: $homeInformationNavItemHeight;
      margin-right: 14px;
    }

    .navText {
      height: $homeInformationNavItemHeight;
    }
  }
}
