@import "./variables.scss";

@mixin navItem() {
  .navItem {
    display: flex;
    margin-bottom: 12px;

    .navIcon {
      width: $homeInformationNavItemHeight;
      height: $homeInformationNavItemHeight;
      margin-right: 14px;
    }

    .navText {
      height: $homeInformationNavItemHeight;
    }
  }
}

hr {
  border: 1px solid var(--color-border-primary);
  width: 100%;
}
