@import "./styles/shared.scss";

* {
  // border: 1px solid black;
}

.devStatusContainer {
  display: flex;

  section {
    margin: 0 5px;
  }
}

.homeInformation {
  margin-bottom: 20px;

  .homeInformation__logo {
    width: 82px;
    height: 82px;
  }

  @include navItem();
  // .navItem {
  //   display: flex;
  //   margin-bottom: 12px;

  //   .navIcon {
  //     width: $homeInformationNavItemHeight;
  //     height: $homeInformationNavItemHeight;
  //     margin-right: 14px;
  //   }

  //   .navText {
  //     height: $homeInformationNavItemHeight;
  //   }
  // }
}

.main-container {
  router-view {
    width: 100%;
  }
}
