.eventsPageContainer {
  width: 100%;

  hr {
    border: 1px solid var(--color-border-secondary);
  }

  .eventsFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    margin-top: 30px;

    .createEvent__buttonContainer {
      margin-top: 16px;
    }
  }

  .eventsContainer {
    box-sizing: border-box;

    width: 645px;
    // height: 651px;

    background: #171821;
    border: 1px solid #353d4c;
    border-radius: 5px;

    margin: 0 auto;
    margin-bottom: 30px;

    .createEventContainer {
      .createEvent__form {}

      .createEvent__footer {
        display: flex;
        justify-content: end;
      }
    }

    .eventCard {
      padding: 0 34px;
      padding-top: 27px;
      padding-bottom: 20px;

      >* {
        margin: 10px 0;
      }

      .eventCard__image {
        display: flex;

        img {
          width: 570px;
          height: 296px;
          margin: 0 auto;
        }
      }

      .eventCard__description {
        margin-top: 21px;
        margin-bottom: 20px;
      }

      .eventCard__subData {
        display: flex;
        justify-content: space-evenly;
      }

      .eventCard__footer {
        display: flex;
        justify-content: end;

        button {
          margin: 0 10px;
        }
      }
    }
  }
}
